---
# tasks file for snow-acm
- name: Create change request
  servicenow.itsm.change_request:
    instance:
      host: "{{ snow_credentials.instance | default(snow_instance, true)}}" 
      username: "{{ snow_credentials.username | default(snow_username, true)}}"
      password: "{{ snow_credentials.password | default(snow_password, true)}}"

    type: standard
    state: new
    short_description: "{{ short_description | default(short_description, 'Ticket created by the Ansible + RHACM integration')}}"
    description: "{{ description | default(short_description, 'Ticket created by the Ansible + RHACM integration. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')}}"
    priority: "{{ priority | default(priority, 'moderate')}}"
    risk: "{{ risk | default(risk, 'low')}}"
    impact: "{{ impact | default(impact, 'low')}}"
  register: output
- debug:
    var: output
    verbosity: 2
